.here {
    background: url(/assets/backgrounds/h_img.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 17em;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}
.about-us {
    text-align: center;
    color: #000000;
}
.servicez {
    background: url(/assets/backgrounds/s_image.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0;
    text-align: center;
    padding-top: 5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.contact {
    background: url(/assets/backgrounds/c_image.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
#title {
    text-align: center;
}
#development-p {
    display: none;
}