.here {
    background: url(assets/backgrounds/h_img.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 17em;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
}
.about-us {
    text-align: center;
    color: #000000;
    margin-top: 2em;
    margin-bottom: 2em;
}

.servicez {
    background: url(assets/backgrounds/s_image.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.contact {
    background: url(https://lugaga.github.io/delani-studio/assets/backgrounds/c_image.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 0%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

#title {
    text-align: center;
}

#development-p {
    display: none;
}

#design-p {
    display: none;
}

#product-management-p {
    display: none;
}

.mouse-click {
    position: relative;
    bottom: -231px;
}

#welcome {
    font-size: 60px;
}

h3 {
    text-align: center;
}

lugaga {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#boom-scalez {
    flex-wrap: wrap;
}

html,
body,
header,
.carousel {
    height: 100%;
}

@media only screen and (max-width:768px) {
    .here {
        background: url(/assets/backgrounds/h_img.jpg)no-repeat 0px 0px;
        background-size: cover;
        padding: 3em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
    }

    .mouse-click {
        position: relative;
        bottom: -23px;
    }
}

body {
    font-family: 'Oswald', sans-serif;
}

#about-us h2 {
    text-align: center;
    font-weight: bolder;
}

h3 {
    text-align: center;
}

.form-yangu {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: #fff;
    color: #000000;
    margin-top: 5em;
    text-transform: uppercase;
}

body,
html {
    overflow-x: hidden;
}

#about-us>img {
    border-radius: 50%;
}

.objective {
    margin-right: 20px;
    margin-left: 20px;
}

.lg-hover,
.lg-hover * {
    box-sizing: border-box;
}

.lg-hover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.lg-hover img {
    max-width: 100%;
}

.lg-hover_background {
    width: 366px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.lg-hover .lg-hover-layer_bottom {
    display: block;
}

.lg-hover .lg-hover-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 13px;
    right: 0;
    bottom: -5px;
    width: 90%;
    height: 92%;
    background: rgba(0, 0, 0, 0.3);
    background-size: contain;
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.lg-hover:hover .lg-hover-layer_top,
.lg-hover.active .lg-hover-layer_top {
    opacity: 1;
}

.lg-hover .lg-hover-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid white 3px;
    padding: 2em;
    padding-top: 4em;
    text-transform: uppercase;
    font-weight: 900;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lg-hover .lg-hover-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    border: solid white 3px;
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.lg-hover.active .lg-hover-text_mobile {
    display: block;
}

.lg-hover .lg-hover-layer_image {
    padding: 0;
    background: none;
}

.lg-hover .lg-hover-boom-scale {
    border-radius: 0%;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.lg-hover:hover .lg-hover-boom-scale,
.lg-hover.active .lg-hover-boom-scale {
    border-radius: 0%;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#year {
    margin-top: -1em;
}

#message {
    background-color: transparent;
    color: #fff;
}

#email {
    background-color: transparent;
    color: #fff;
}

#name {
    background-color: transparent;
    color: #fff;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
}

lugagaz {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 5em;
}

lugagaz>div>img {
    height: 300px;
    width: 400px;
}

.my-social {
    text-align: center;
    margin-top: 1em;
}

.contact-2 {
    margin-top: 2em;
}
.small-text{
    color:white; 
    padding-bottom:10px;
    font-size: 20px;
}